In [1]:
from sentistrength import PySentiStr
import pandas as pd

senti = PySentiStr()
senti.setSentiStrengthPath('C:/Users/femin/MP_Final/SentiStrength.jar') # Note: Provide absolute path instead of relative path
senti.setSentiStrengthLanguageFolderPath('C:/Users/femin/MP_Final/SentiStrength/') # Note: Provide absolute path instead of relative path

data = pd.read_csv('Stemmed_Data2.csv')
data.tail()

,Unnamed: 0,class,tweet,processed_text,stemmed
40285,805995,1,enjoying the sun ony my balcony,"['enjoying', 'sun', 'ony', 'balcony']","['enjoy', 'sun', 'oni', 'balconi']"
40286,805996,1,I'VE GOT A (quite) TIDY ROOM! yeah man. what'...,"[""i've"", 'got', 'quite', 'tidy', 'room', 'yeah...","[""i'v"", 'got', 'quit', 'tidi', 'room', 'yeah',..."
40287,805997,1,@karlee16 :o dont be silly gosh,"['dont', 'silly', 'gosh']","['dont', 'silli', 'gosh']"
40288,805998,1,every office should have a linebacker http://...,"['every', 'office', 'linebacker']","['everi', 'offic', 'lineback']"
40289,805999,1,@Davidptdf Omg David The Chat Was Amazing Last...,"['omg', 'david', 'chat', 'amazing', 'last', 'n...","['omg', 'david', 'chat', 'amaz', 'last', 'nigh..."

In [2]:
df1 = data['tweet']

In [3]:
df1.head()

0    !!! RT @mayasolovely: As a woman you shouldn't...
1    !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2    !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3    !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4    !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
Name: tweet, dtype: object

In [4]:
arr = df1.to_numpy()

In [5]:
print(arr[-5])

enjoying the sun ony my balcony

In [6]:
scale = senti.getSentiment(arr, score = 'scale')
dual = senti.getSentiment(arr, score = 'dual')
binary = senti.getSentiment(arr, score = 'binary')

In [7]:
data[['Pos','Neg']] =  pd.DataFrame(dual,columns=['Pos','Neg'])

In [8]:
data.tail()

,Unnamed: 0,class,tweet,processed_text,stemmed,Pos,Neg
40285,805995,1,enjoying the sun ony my balcony,"['enjoying', 'sun', 'ony', 'balcony']","['enjoy', 'sun', 'oni', 'balconi']",3,-1
40286,805996,1,I'VE GOT A (quite) TIDY ROOM! yeah man. what'...,"[""i've"", 'got', 'quite', 'tidy', 'room', 'yeah...","[""i'v"", 'got', 'quit', 'tidi', 'room', 'yeah',...",2,-1
40287,805997,1,@karlee16 :o dont be silly gosh,"['dont', 'silly', 'gosh']","['dont', 'silli', 'gosh']",1,-2
40288,805998,1,every office should have a linebacker http://...,"['every', 'office', 'linebacker']","['everi', 'offic', 'lineback']",1,-1
40289,805999,1,@Davidptdf Omg David The Chat Was Amazing Last...,"['omg', 'david', 'chat', 'amazing', 'last', 'n...","['omg', 'david', 'chat', 'amaz', 'last', 'nigh...",3,-1

In [9]:


data["scale"]= pd.DataFrame(scale)
data["binary"]= pd.DataFrame(binary)
data.tail()

,Unnamed: 0,class,tweet,processed_text,stemmed,Pos,Neg,scale,binary
40285,805995,1,enjoying the sun ony my balcony,"['enjoying', 'sun', 'ony', 'balcony']","['enjoy', 'sun', 'oni', 'balconi']",3,-1,2,1
40286,805996,1,I'VE GOT A (quite) TIDY ROOM! yeah man. what'...,"[""i've"", 'got', 'quite', 'tidy', 'room', 'yeah...","[""i'v"", 'got', 'quit', 'tidi', 'room', 'yeah',...",2,-1,1,1
40287,805997,1,@karlee16 :o dont be silly gosh,"['dont', 'silly', 'gosh']","['dont', 'silli', 'gosh']",1,-2,-1,-1
40288,805998,1,every office should have a linebacker http://...,"['every', 'office', 'linebacker']","['everi', 'offic', 'lineback']",1,-1,0,1
40289,805999,1,@Davidptdf Omg David The Chat Was Amazing Last...,"['omg', 'david', 'chat', 'amazing', 'last', 'n...","['omg', 'david', 'chat', 'amaz', 'last', 'nigh...",3,-1,2,1

In [10]:
# Dnew = pd.concat([data, data['scale'], data['dual'], data['bin']], axis=1)

In [11]:
# Dnew.head()

In [12]:
# data = data.drop('binary',axis=1)
# data["binary"]= pd.DataFrame(binary)
data.head()

,Unnamed: 0,class,tweet,processed_text,stemmed,Pos,Neg,scale,binary
0,0,1,!!! RT @mayasolovely: As a woman you shouldn't...,"['woman', 'complain', 'cleaning', 'house', 'ma...","['woman', 'complain', 'clean', 'hous', 'man', ...",1,-2,-1,-1
1,1,0,!!!!! RT @mleew17: boy dats cold...tyga dwn ba...,"['boy', 'dats', 'cold', '...', 'tyga', 'dwn', ...","['boy', 'dat', 'cold', '...', 'tyga', 'dwn', '...",1,-3,-2,-1
2,2,0,!!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...,"['dawg', 'ever', 'fuck', 'bitch', 'start', 'cr...","['dawg', 'ever', 'fuck', 'bitch', 'start', 'cr...",2,-4,-2,-1
3,3,0,!!!!!!!!! RT @C_G_Anderson: @viva_based she lo...,"['_g_anderson', '_based', 'look', 'like', 'tra...","['_g_anderson', '_base', 'look', 'like', 'tran...",2,-1,1,1
4,4,0,!!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...,"['shit', 'hear', 'might', 'true', 'might', 'fa...","['shit', 'hear', 'might', 'true', 'might', 'fa...",2,-2,0,1

In [13]:
data.shape

(40290, 9)

In [14]:
data.to_csv('sentistrength.csv')

In [ ]:
def getScale(var):
    score = senti.getSentiment(var, score = 'scale')
    return score

In [ ]:
data["scale"]= data['tweet'].apply(getScale)

In [ ]:
tweet = "She is total bitch, She should die"

print("Postive,Negative:",senti.getSentiment(tweet, score = 'dual'))
print("Overall:",senti.getSentiment(tweet, score = 'scale'))
print("Binary:",senti.getSentiment(tweet, score = 'binary'))